body{
margin:0;
font-family:Poppins;
background:#0a0a0a;
color:white;
}

header{
display:flex;
justify-content:space-between;
padding:15px 40px;
background:#0b1f3a;
position:sticky;
top:0;
}

.hero{
height:90vh;
background:url("img/hero-car.webp") center/cover no-repeat;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
}

.hero-content{
background:rgba(0,0,0,0.5);
padding:40px;
border-radius:10px;
}

.btn{
background:#0f6fff;
padding:12px 20px;
border-radius:8px;
text-decoration:none;
color:white;
margin:10px;
display:inline-block;
}

.grid{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:20px;
padding:40px;
}

.card{
background:#111;
padding:15px;
border-radius:10px;
position:relative;
}

.card img{
width:100%;
border-radius:10px;
}

.badge{
position:absolute;
top:10px;
left:10px;
padding:4px 10px;
border-radius:5px;
font-size:12px;
}

.populer{background:gold;color:black}
.murah{background:#00ff6a;color:black}

.bar{
height:6px;
background:#333;
border-radius:5px;
margin-top:5px;
}

.bar span{
display:block;
height:6px;
background:red;
border-radius:5px;
}

.buy{
display:block;
margin-top:10px;
background:#25D366;
padding:10px;
text-align:center;
border-radius:6px;
color:white;
text-decoration:none;
}

footer{
text-align:center;
padding:30px;
background:#0b1f3a;
}

#topBtn{
position:fixed;
bottom:20px;
right:20px;
padding:10px 15px;
}